@font-face {
	font-family: 'Pretendard';
	src: url(../font/Pretendard-Light.woff2) format('woff');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family: 'Pretendard';
	src: url(../font/Pretendard-Regular.woff2) format('woff');
	font-weight: 400;
	font-style: normal;
}


@font-face {
	font-family: 'Pretendard';
	src: url(../font/Pretendard-Medium.woff2) format('woff');
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'Pretendard';
	src: url(../font/Pretendard-SemiBold.woff2) format('woff');
	font-weight: 600;
	font-style: normal;
}

*{
  box-sizing: border-box;
}
body  {
	font-family: Pretendard;
	font-size: 1rem;
  font-weight: 400;
	color: #000;
}

body a {
  text-decoration: none;
  color:#000;
  
}


header {
  clear: both;
  position: relative;
  z-index: 100;
  box-sizing: border-box;
  height: 90px;
  border-bottom: 1px solid #efefef;
  border:1px solid red;
  background: #fff;

}

.head {
  display:flex;
  flex-wrap: nowrap;
  position:absolute;
  left:140px;
  top: 30px;
}

.search {
  margin-left: 3rem;
}

input {
  border: none;
  outline: none;
  width: 250px;
  height: 30px;
  float: left;
  font-size: 11px;
  border-radius: 3px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, .3);
}


form {
  height: 30px;
}

.head_list {
  display: flex;
  flex-wrap: nowrap;
}


.head h1.ci {
  display: block;
  font-size: 0;
  line-height: 0;
}

.head h1.ci a {
  display: block;
  overflow: hidden;
  position: relative;
  width: 130px;
  height: 50px;
  background: url(../image/logo.png) no-repeat;
  background-size: 100%;
  font-size: 0;
  line-height: 0;
  text-indent: -100000px;
}

.gnb_pc {
  border:1px solid red;
  position:relative;
  height: 50px;
}

.head_list {
  position:absolute;
  left: 140px;
}
.head_list li a {
  display: block;
  padding: 0 20px;
  font-size: 18px;
  line-height: 50px;
  border:1px solid red;
  color: #121212;
  font-weight: 500;
}


/* 아이콘메뉴 */



#iconmenu {
padding-top: 60px;

}

#iconmenu ul {
  text-align: center;
  width: 85%;
  display: flex;
  margin: 0 auto;
}

#iconmenu ul li {
  width: 100%;
}

#iconmenu ul li img {
  width: 60%;
}

#iconmenu ul li a {
  font-weight: 500;
  font-size: 0.8rem;
}

#iconmenu ul li span {
  display: block;
  margin: 10px auto;
}

#iconmenu ul li:last-child {
  margin-right: 0;
}
.nav {
  padding:10px 0;
  border-bottom: 2px solid rgba(55,55,55,1);
}
#tab_wrapper {
  width: 85%; margin:120px auto;
}

.tab_menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.tab_menu li a {
  font-size:1.2rem;
  color:rgba(154,154,154,1);
  font-weight: bold;
  display: block;
  padding: 0.5rem 0.8rem;
}

.tab menu li a.selcected {
  color:rgba(0,0,0,1);

}
.tbtn {
  display:flex;
  width: 100%;
  margin-top:50px;
}

.tbtn li {
  margin-right: 2rem;
}

.tbtn li a {
  border-radius: 50px;
  font-size: 0.8rem;
  text-align: center;
  padding: 0.5rem 1.3rem;
  border: 2px solid #ebebebfc;
    box-shadow:  0 2px 2px rgba(0,0,0, 0.2);
}


.content {
  width: 100%;
  margin-top: 50px;
  display:flex;
}

.content li {
 margin-right:20px;
}

.content li img {
  width: 100%;
}

