@charset "utf-8";

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family: 'Pretendard';
    color: #000;
    font-weight: 400;
}

body a {
    color: #000;
    text-decoration: none;
}

main {
    margin: 100px auto;
}


/* 모바일 상단메뉴 */

#Ptop_menu {
    display:none;
}

#Psearch_wrapper {
    display:none;
}

h2 {text-align:center;margin:1rem 0;}

#Mtop_menu ul li.active {
  color:#000;
  border-bottom:3px solid #e37d58;
}

.frame {
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    margin: 0 3rem;
}

.frame ul {
    height: 100%;
}

.frame ul li {
    float: left;
    height: 100%;
    padding: 0 8px ;
    margin: 0 22px 0 0;
    text-align: center;
    cursor: pointer;
    font-weight:600;
    color: #898989;
}

#Msearch_wrapper {
    width: 80%;
    margin:0 auto;
}

.search {
    display:flex;
    justify-content: flex-end;
    margin: 30px 0;
    text-align: center;
}


.search>li {
    line-height: 30px;
    padding: 0 0.5rem;
    margin-right:1rem;
    cursor: pointer;
}
.search>li:nth-of-type(3) {margin-right:0;}


@media screen and (min-width:451px) {

#Mtop_menu {
    display:none;
}

#Msearch_wrapper {
    display:none;
}
#Ptop_menu {
    display:block;
    width: 90%;
    margin: 0 auto;
}

.top_menu {
    display:flex;
    width: 90%;
    margin: 0 auto;
}

#Ptop_menu h3{
    font-size:1.1rem;
    line-height:40px;
    margin-right:40px;
}

.top_menu ul li {
    float:left;
    text-align: center;
    line-height:40px;
    padding: 0 0.8rem;
}

.top_menu ul li:nth-child(1){
    padding:0;
}
#Psearch_wrapper {
    display:block;
    width: 90%;
    margin:0 auto;

}

.search {
    display:flex;
    justify-content: flex-end;
    margin: 30px 0;
    text-align: center;
}


.search>li {
    line-height: 30px;
    padding: 0 0.5rem;
    margin-right:1rem;
    cursor: pointer;

}
.search>li:nth-of-type(3) {margin-right:0;}

}

#content {
    width: 90%;
    margin-top:180px;
    margin:0 auto;
    font-size: 0.9rem;
}

.image img {
    width: 100%;
}

#content ul {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

#content ul li span {
    display: block;
    padding-top: 5px;
    text-align: center;
}

#content ul li {
    width: 50%;
    padding: 0 30px 28px 30px;
}

#content ul li span:nth-of-type(1) {
    padding-top: 10px;
}

#content ul li span.date {
    text-align: center;
    font-size: 1rem;
    color: #9b9b9b;
    padding-top: 2px;
}


#content ul li {
    width: 50%;
    padding: 0 20px 28px 20px;
}

body * {
    font-size: 0.85rem;
}

.icon {
    width: 80% !important;
    right:20px !important;
}

@media screen and (min-width:800px) {
    #content ul li {
        width: 33.33%;
        padding: 0 30px 28px 30px;
    }

    .icon {
        width: 55% !important;
        right:25px !important;
    }

}

@media screen and (min-width:1200px) {
    #content ul li {
        width: 25%;

        padding: 0 30px 28px 30px;
    }
}
