@charset "utf-8";

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family: 'Pretendard';
    color: #000;
    font-size: 1rem;
    font-weight: 400;

}

body a {
    color: #000;
    text-decoration: none;
}

main {

    margin: 150px auto;
}

.search_wrapper {
    width: 90%;
}

.search {
    width: 300px;
    margin: 30px 0;
    text-align: center;
    line-height: 40px;
    position: absolute;
    right: 10%;
    top: 100px;
}


.search>li {
    width: 33%;
    line-height: 25px;
    float: left;
    padding: 0;
    margin: 0;
    cursor: pointer;

}

#content {
    width: 90%;
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.9rem;
}

.image img {
    width: 100%;
}



#content ul {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}



#content ul li span {
    display: block;
    padding-top: 5px;
    text-align: center;
}

#content ul li {
    width: 50%;
    padding: 0 30px 28px 30px;
}

#content ul li span:nth-of-type(1) {
    padding-top: 10px;
}

#content ul li span.date {
    text-align: center;
    font-size: 1rem;
    color: #9b9b9b;
    padding-top: 2px;
}


#content ul li {
    width: 50%;
    padding: 0 20px 28px 20px;
}

body * {
    font-size: 0.8rem;
}




.icon {
    width: 80% !important;
    right:20px !important;
}

@media screen and (min-width:800px) {
    #content ul li {
        width: 33.33%;
        padding: 0 30px 28px 30px;

    }


    .icon {
        width: 55% !important;
        right:25px !important;
    }


}


@media screen and (min-width:1200px) {
    #content ul li {
        width: 25%;

        padding: 0 30px 28px 30px;
    }
}